aside {
    background-color: white;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.lista-barra-lateral li{
    display: inline;
    list-style: none;
    margin-right: 2em   
}


a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}


.hashtag {
    margin-right: 30px;
}